.btn {
  @apply relative inline-flex min-w-16 cursor-pointer items-center justify-center rounded-lg leading-tight outline-none py-3 px-5 gap-2;

  &:hover {
    @apply bg-opacity-50;
  }

  &:disabled {
    @apply cursor-not-allowed bg-[#F2F2F6] text-[#B9BDCA];
  }
}