:root {
  // --color-surface-disable: red;
  --color-surface-primary4: #fff9f8;
  --color-surface-primary10: #fef1ed;
  --color-palette-primary-100: #f27449;
  --color-palette-primary-200: #f27449;
  --color-palette-primary-300: #f27449;
  --color-palette-primary-400: #f27449;
  --color-palette-primary-500: #f27449;
  --color-palette-primary-600: #f27449;
  --color-palette-primary-700: #f27449;
  --color-palette-primary-800: #f27449;
  --color-palette-primary-900: #f27449;
  --color-palette-primary-1000: #f27449;
}

body,
.alphacom-scroll {
  @apply overflow-hidden overflow-x-auto overflow-y-auto whitespace-nowrap font-normal;
  scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
  @apply h-2 w-2 cursor-pointer rounded-xl;
}

body::-webkit-scrollbar-track {
  @apply cursor-pointer rounded-xl bg-[#E3E4E7];
}

body::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded-xl bg-[#999BA8];
}

.alphacom-scroll::-webkit-scrollbar {
  @apply h-1.5 w-1.5 cursor-pointer rounded-xl;
}

.alphacom-scroll::-webkit-scrollbar-track {
  @apply cursor-pointer rounded-xl bg-[#F8F8FA];
}

.alphacom-scroll::-webkit-scrollbar-thumb {
  @apply cursor-pointer rounded-xl bg-[#E4E4E7];
}

.custom-bg {
  border: 1px solid #ebebed;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
}

.date-picker-container {
  [class~="date-picker"] {
    @apply h-10 w-full;
  }
}

.date-picker-container-h-12 {
  [class~="date-picker"] {
    @apply h-12 w-full;
  }
}

.date-picker-container-h-10 {
  [class="date-picker"] {
    @apply h-10 w-full;
  }
}

.remove-margin > .tree-view {
  margin: 0;
}

.remove-padding-tab-item > .tab-item {
  padding-left: 0;
  padding-right: 0;
}

.accordion-header-text-black > .accordion-header-text {
  color: black;
  margin-left: 8px;
}

.page-content-fill {
  max-width: calc(100vw - 138px);
}

.custom-drag-upload-h-full {
  [class~="drag-upload"] {
    @apply w-full;
  }
}

.text-field-align-right {
  [class~="input-base"] {
    @apply text-right;
  }
}

.toggle-checked.toggle-read-only > .toggle-slider > .toggle-slider-wrapper {
  background-color: #b9bdca !important;
}

.toggle-disabled {
  cursor: default;
}

.toggle-read-only {
  cursor: default;
}

.text-area--disabled > textarea {
  color: #1f1f25;
}

.select-item {
  @apply p-[10px];
}

.one-line-text {
  @apply line-clamp-1 whitespace-pre-line;
}

.truncate-chips > span {
  max-width: calc(100% - 20px);
  @apply truncate;
}

.custom-accordion .accordion-body {
  margin: 0px;
  padding: 8px 0px;
}

.custom-avatar-color {
  color: #9a9db2;

  .icon {
    background-color: #f8f8fa;
    @apply rounded-full;
  }
}

.custom-avatar-badge-color {
  color: #f27449;
}

.custom-accordion-content > .accordion-header-text {
  margin-left: 0.75rem;
  margin-right: 1rem;
}

.breadcrumb-item-name {
  @apply normal-case;
}

.avatar-name-sm {
  [class~="avatar-name"] {
    @apply text-sm;
  }
}

.link-input-text {
  [class~="input-base"] {
    @apply text-sm font-normal text-[#1E7FFA];
  }
}

.field-area {
  textarea::-webkit-scrollbar {
    @apply h-1.5 w-1.5 cursor-pointer rounded-xl;
  }

  textarea::-webkit-scrollbar-track {
    @apply cursor-pointer rounded-xl bg-[#F8F8FA];
  }

  textarea::-webkit-scrollbar-thumb {
    @apply cursor-pointer rounded-xl bg-[#E4E4E7];
  }
}
