* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

textarea:focus {
  outline: 1px solid #f27449;
  border: none;
}

.date-picker {
  height: auto !important;
}

.data-grid__pagination {
  padding: 0 24px;
}